/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* Footer */
footer.nav-footer {
  background-color: #202020;
}

/* Home */
.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 100%;
  max-height: 250px;
  margin-bottom: 0px;
}

.homeContainer .homeWrapper .projectLogo {
  justify-content: flex-start;
}

.feature-block .blockImage img {
  width: 48px;
}

.buttonWrapper a.button {
  border-radius: 24px;
  min-width: 64px;
}

/* Navigation */
.navGroup ul {
  background-color: #f9f9f9;
}
